
# NOMBRE: YEISON TABARES
# ESTE PROYECTO ESTA BASADO EN DARLE SOLUCION A MUCHAS EMPRESAS EN EL AREA COMERCIAL, ESTAMOS ENFOCADOS A DARLE HERRAMIENTAS Y ESTRATEGIAS PARA TENER UNOS MEJORES RESULTADOS.. 
